<%- include('../parts/html-head') %>
<%- include('../parts/navbar')%>

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-content-between">
            <a href="/../Menulist/menulist" class="noline"><i class="fa-solid fa-angles-left mr-2"></i> Back to Menu List</a>
            <span class="text-gradient">Add new Recipe in Menu<i class="fa-solid fa-utensils"></i></span>
        </div>

        <form action="/" method="POST" id="AddMenu" class="d-flex justify-content align-items-center">
           <div class="new_menu pr-5">
            <div class="w80">
                <div class="form-group mb-3">
                    <label for="productname" class="mb-2">Food Name :</label><br>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="productname" value="" placeholder="put in product name" class="w100 itext">
                </div>
                <div class="form-group mb-3">
                    <label for="productdetail" class="">Food Detail (with max 300 words):</label><br>
                    <textarea type="text" name="productdetail" value="" placeholder="type in detail of food" class="w100 htext"></textarea>
                </div>
                <div class="form-group mb-3">
                    <label for="price" class="">Food Price :</label><br>
                    <input type="text" name="price" value="" placeholder="price of food" class="w100 itext">
                </div>
                <div class="form-group mb-3">
                    <label for="publishDate" class="">Publish Date :</label><br>
                
                    <input type="date" name="publishDate" value=""  class="w100 itext">
                </div>
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary">Add Food</button>
                </div>
            </div>
           </div>
           <div class="border-left d-flex align-items-center ml-5">
                <div class="uploadcol">
                    <div class="upbox"></div>
                    <button class="btn btn-primary w100 m0a" onclick="">upload Photo</button>
                </div>
           </div>
        </form>
    </div>
</main>

<%- include('../parts/script')%>
<%- include('../parts/html-foot') %>