<%- include('parts/html-head') %> 

<div class="container"><div class="row d-flex align-items-center justify-content-center">
        <h3>管理者登入</h3>
        <form action="" onsubmit="sendForm(event)" name="form1" class="">
            <div class="mb-3 ">
                <div>
                    <label for="" class="form-label">Login Account(登入賬號)</label>
    
                    <input type="text"
                    class="form-control"
                    name="username"
                    value="">
                    <div class="form-text"></div>
                </div>
    
                <div class="mb-3">
                    <label for="" class="form-label">Password(輸入密碼)</label>
    
                    <input type="password"
                    name="password"
                    class="form-control"
                    value="">
    
                    <div class="form-text"></div>
                </div>
                <button type="submit" class="btn btn-primary">登入</button>
    
            </div>
        </form>
</div>
</div>

<%- include('parts/script')%>
<script>
    function sendForm(event){
        event.preventDefault();

        const sendObj = {
            username : document.form1.username.value,
            password: document.form1.password.value,
        }

        fetch('',{
            method: 'POST',
            body: JSON.stringify(sendObj),
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(r=>r.json())
        .then(obj=>{
            console.log(obj);
            if(obj.success){
                location.href = '/main';
            }else {
                alert(obj.error);
            }
        });
    }
</script>
<%- include('parts/html-foot') %>