<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/joi/joi-browser.min.js">
    <link rel="stylesheet" href="/all.css">
    <title>Document</title>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center" >
        <div >
            <h2>請先登入系統再進行作業吧我的朋友？</h2>
            <br>
            <button class="btn btn-primary" style="margin: 0 auto; width:100%" >
                <a href="/" style="text-decoration: none; color: white;">Back to Login Page</a>
            </button>
        </div>
    </div>
    <script>

    </script>
</body>
</html>
